.App {
  text-align: center;
}

.App-header {
  color: white;
  font-size: 1.3em;
}

#viewport {
  height: 100vh;
}

main {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
main p {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  width: 70%;
  margin: 40px auto;
}
main img {
  width: 450px;
}
main button {
  padding: 10px 25px;
  background-color: white;
  color: #3E0C99;
  border: none;
  border-radius: 35px;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.2s;
}
main button:hover {
  background-color: #3E0C99;
  border: 1px solid white;
  color: white;
}

.Footer {
  background-color: rgb(40,40,40);
  height: 80px;
  padding: 50px;
}
.Footer a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.Footer a:hover {
  text-decoration: underline;
}
.Footer p {
  color: white;
}