.App {
  text-align: center;
}

.App-header {
  color: white;
  font-size: 1.3em;
}

#viewport {
  min-height: 100vh;
}

main {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
main p {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  width: 70%;
  margin: 40px auto;
}
main img {
  width: 450px;
}
main button {
  padding: 10px 25px;
  background-color: white;
  color: #3E0C99;
  border: 1px solid transparent;
  border-radius: 35px;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.2s;
}
main button:hover {
  background-color: #3E0C99;
  border: 1px solid white;
  color: white;
}

.Footer {
  background-color: rgb(40,40,40);
  height: 80px;
  padding: 50px;
}
.Footer a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.Footer a:hover {
  text-decoration: underline;
}
.Footer p {
  color: white;
}


.chooseBank {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin: 10px auto;
}
.chooseBank div {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  padding: 20px;
  border-radius: 25px;
}
.chooseBank div:hover {
  background-color: rgb(218, 239, 255);
}
.chooseBank img {
  width: 220px;
  vertical-align: middle;
}
.chooseBank h3 {
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 40px;
}
button.inactive {
  background-color: #3C0276;
  pointer-events: none;
}
button.inactive:hover {
  background-color: #3C0276;
  border: none;
  color: #3E0C99;
}
div.active {
  background-color: rgb(218, 239, 255);
}

.login {
  background-color: white;
  width: 400px;
  margin: 40px auto;
  border-radius: 25px;
}
.login form {
  padding: 20px;
}
.login input {
  color: #3E0C99;
  padding: 5px 2px 5px 5px;
  font-size: 1.2em;
  margin: 15px auto;
  font-weight: 300;
  border: 1px solid #3E0C99;
  border-radius: 5px;
}
