.App {
  text-align: center;
}

.App-header {
  color: white;
  font-size: 1.3em;
}

#viewport {
  min-height: 100vh;
}

main {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
main p {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  width: 70%;
  margin: 40px auto;
}
main img {
  width: 450px;
}
main button {
  padding: 10px 25px;
  background-color: white;
  color: #3E0C99;
  border: 1px solid transparent;
  border-radius: 35px;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.2s;
}
main button:hover {
  background-color: #3E0C99;
  border: 1px solid white;
  color: white;
}

.Footer {
  background-color: rgb(40,40,40);
  height: 80px;
  padding: 50px;
}
.Footer a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.Footer a:hover {
  text-decoration: underline;
}
.Footer p {
  color: white;
}


.chooseBank {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin: 10px auto;
}
.chooseBank div {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  padding: 20px;
  border-radius: 25px;
}
.chooseBank div:hover {
  background-color: rgb(218, 239, 255);
}
.chooseBank img {
  width: 220px;
  vertical-align: middle;
}
.chooseBank h3 {
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 40px;
}
button.inactive {
  background-color: #3C0276;
  pointer-events: none;
}
button.inactive:hover {
  background-color: #3C0276;
  border: none;
  color: #3E0C99;
}
div.active {
  background-color: rgb(218, 239, 255);
}

.login {
  background-color: white;
  width: 400px;
  margin: 40px auto;
  border-radius: 25px;
}
.login form {
  padding: 20px;
}
.login input {
  color: #3E0C99;
  padding: 5px 2px 5px 5px;
  font-size: 1.2em;
  margin: 15px auto;
  font-weight: 300;
  border: 1px solid #3E0C99;
  border-radius: 5px;
}

.bar-container {
  /* border: 1px solid green; */
  text-align: center;
  margin: 50px auto;
}
.bar-container h2 {
  color: white;
  font-size: 1.2em;
  border: 1px solid white;
  display: inline-block;
  padding: 7px 17px;
}
.elBar {
  color: white;
  /* border: 1px solid white; */
  text-align: left;
  width: 600px;
  margin: 0 auto;
}
.lasBars p {
  margin: 5px 0;
}
.bar {
  width: 500px;
  height: 18px;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: .85em;
  /* border-radius: 20px; */
  text-shadow: 1px 1px 1px black;
}
.bar-1 {
  background-color: #0BE0BF;
}
.bar-2 {
  background-color: #AFE00B;
}
.bar-3 {
  background-color: #E0B70B;
}
.bar-4 {
  background-color: #E06D0B;
}
.bar-5 {
  background-color: rgb(224, 11, 192);
}

.score h2 {
  font-size: 1.6em;
  color: white;
}
#circle {
  margin: 20px auto;
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 10px solid #18C4ED;
  font-size: 3em;
  color: #18C4ED;
  font-weight: 700;
  border-top-color: transparent;
  transform: rotate(-50deg);
  box-shadow: 2px 8px 2px rgb(40, 2, 101);
}
#circle a {
  margin-top: 50px;
  display: inline-block;
  transform: rotate(50deg)
}
#circle span {
  font-size: .6em;
  color: white;
  vertical-align: middle;
}