body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(245,245,245)
}

main {
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
    background-color: white;
    height: 1000px;
}
h1 {
    font-size: 3em;
}
section {
    margin-top: 30px;
}
.project {
    display: inline-block;
    text-align: left;
    border: 1px solid rgb(200,200,200);
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
footer {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(70,70,70);
    height: 100px;
}
footer div {
    display: inline-block;
}
footer a {
    margin: 20px;
    display: block;
    color: white;
}